.card-img-top{
	height: 200px;
	width: 200px;
}

.form-img{
	height: 350px;
	width: 350px;
}

	
#landing{
	background-image: url("../images/landing.jpeg");
	background-position: center;
}

#about{
	padding-top: 20px;
	background-image: url("../images/forest.jpeg");
}

#bg{
	background: rgb(148,233,202);
	background: radial-gradient(circle, rgba(148,233,202,1) 0%, rgba(187,223,199,1) 100%);
}

#form-left{
	padding: 50px;
	text-align: center;
}

#form{
	background: rgb(107,224,63);
background: linear-gradient(0deg, rgba(107,224,63,1) 0%, rgba(31,150,167,1) 100%);
}
